.mr-2{
    margin-right: 20px;
}
button{
    &:active,&:focus,&:hover{
        border: 1px solid transparent !important;
    }
    .bi-heart.colored{
        color: rgb(216, 29, 29);
    }
    cursor: pointer;
}
.topBar{
    &__logo{
        img{
            width: 100px;
        }
    }
}
.App{
    .card{
        @media only screen and (max-width: 600px) {
            margin-left: auto !important;
            margin-right: auto !important;
            margin-top: 10px !important;
            margin-bottom: 10px !important;
          }
    }
   
}